
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1{
    color: $black;
}

h2{
    font-weight: 700;
}

.flex{
    display: flex;
}
